:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-background-color: #f5f4fa;
  --primary-icon-color: #afb1b8;

  --base-font-size: 14px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 30px;
}

.list {
  list-style-type: none;
}

/* ----------Шапка сайта---------- */

.header {
  border-bottom: 1px solid #ececec;
}

/* .header-container {
  display: flex;
} */
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* ----------Навигация---------- */

.nav {
  display: flex;
  align-items: center;
}

.nav .logo-header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-links {
  display: flex;
}

.nav-links .item:not(:last-child) {
  margin-right: 50px;
}

.nav-links .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-links {
  display: flex;
  margin-left: auto;
}

.contact-links .item:not(:last-child) {
  margin-right: 30px;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-icon.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-icon.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

.contact-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon,
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  text-decoration: none;
  color: var(--title-text-color);
}

.logo-web {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--base-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  position: relative;

  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

.contact-link {
  color: var(--primary-text-color);
}

/* ----------Преимущества---------- */

.futures-image.antenna:hover .features-icon {
  transform: rotateY(180deg);
}

.futures-image.clock:hover .features-icon {
  transform: rotate(360deg);
}

.futures-image.diagram:hover .features-icon {
  transform: scale(1.3);
}

.futures-image.astronaut:hover .features-icon {
  transform: translateX(30px) translateY(-30px);
}

.section-features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.features-item {
  /* flex-basis: calc((100% - 4 * 30px) / 4); */
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.futures-image {
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-background-color);
}

.features-icon {
  width: 70px;
  height: 70px;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.features-title {
  margin-bottom: 10px;
  padding-top: 30px;

  font-weight: 700;
  font-size: var(--base-font-size);
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-descr {
  font-size: var(--base-font-size);
  line-height: 1.71;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: navajowhite;
  color: #ffffff;
  font: inherit;
  cursor: pointer;

  overflow: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before,
.btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 10px;

  background-color: greenyellow;
}

.btn:hover::before,
.btn:focus::before {
  transform: translateY(-35px);
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;

  transform: translateY(calc(-50% + 35px));

  background-color: blueviolet;
}

.btn:hover::after,
.btn:focus::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: palevioletred;
}

/* --------Form-------- */

.form {
  width: 528px;

  outline: 1px solid tomato;

  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;
}

.form-field:hover input,
.form-field:focus input {
  border: 1px solid tomato;
}

.form-field:hover .form-icon,
.form-field:focus .form-icon {
  fill: tomato;
}

.form-field input::placeholder {
  color: rgb(206, 153, 144);
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;
}

.form-field textarea {
  /* width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;  */
  /* box-sizing: border-box; */
}

.form-field textarea::placeholder {
  /* font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5); */
}

textarea {
  resize: none;
}

.group {
  margin-bottom: 20px;
}

.group-title {
  margin: 0;
  margin-bottom: 10px;
}

.topic-options,
.experience-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-options li {
  display: flex;
  align-items: center;
}

.topic-options input[type="checkbox"] {
}

.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}

.form .date {
  /* border-width: 2px;
  border-radius: 4px;
  padding: 20px 40px; */
  /* font-size: 20px;
  border-color: red;
  color: #757575;
  background-color: #afb1b8; */
}

.comment {
  padding: 8px;
}

.form-field-surname {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input-surname {
  margin: 20px 0;
  padding: 10px 40px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-label-surname {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form-input-surname:focus + .form-label-surname,
.form-input-surname:not(:placeholder-shown) + .form-label-surname {
  transform: translateY(-40px) translateX(-42px);
  color: red;
}

.form-input-surname:placeholder-shown {
}

.form-icon-surname {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.form-input-surname:focus ~ .form-icon-surname {
  fill: tomato;
}

.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.label-checkbox {
  display: flex;
  align-items: center;
}

.icon-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;
}

.input-checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: border-box;
}
